DB_HOST=localhost
DB_PORT=5432
DB_NAME=escalas_teste
DB_NAME_PROD=escalas_prod
DB_NAME_HML=escalas_hml
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=altere_esta_chave_em_producao
PORT=3001

# APP_MODE=teste | hml | prod
APP_MODE=teste

FRONTEND_URL=http://localhost:3000
WHATSAPP_AUTH_DIR=./data/whatsapp-auth

# GOOGLE_CLIENT_ID=
